<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      /* Additional CSS styles */
      body {
        background-color: #4a5568; /* Darker background color */
      }
      .login-container {
        max-width: 500px;
        margin: 0 auto;
        margin-top: 60px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
      }
      .login-container img {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        width: 300px;
      }
      .already-registered {
        text-align: center;
        margin-top: 10px;
      }
      .already-registered a {
        color: #4a90e2;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="login-container">
      <img src="/assets/techny.gif" alt="Logo" />

      <h3 class="text-3xl text-center text-gray-800 mb-5">Register</h3>
      <form action="/register" method="post">
        <input
          class="px-3 py-2 mb-3 w-full outline-none bg-transparent border-2 border-gray-300 rounded-md"
          type="email"
          name="email"
          placeholder="Email"
          id="email"
        />
        <input
          class="px-3 py-2 mb-3 w-full outline-none bg-transparent border-2 border-gray-300 rounded-md"
          type="text"
          name="username"
          placeholder="Username"
          id="username"
        />
        <input
          class="px-3 py-2 mb-3 w-full outline-none bg-transparent border-2 border-gray-300 rounded-md"
          type="password"
          name="password"
          placeholder="Password"
          id="password"
        />
        <input
          class="w-full py-2 px-4 bg-blue-500 rounded-md border-2 border-blue-500 outline-none text-white text-sm cursor-pointer hover:bg-blue-600"
          type="submit"
          value="Register"
        />
      </form>
      <div class="already-registered">
        <p>Already registered? <a href="/login">Login</a></p>
      </div>
    </div>
  </body>
</html>
